@font-face {
    font-family: Opensans;
    src: url(../fonts/opensans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Opensans_Condensed;
    src: url(../fonts/opensans/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}