#header{
    width: 100%;
    height: 32px;
    background: #023b6d;
    display: flex;
    align-items: center;
    .logo{
        width: 188.05px;
        height: 25px;
        padding-left: 10px;
        a{
            display: flex;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
            }
        }
    }
    .preview-devices{
        width: 116px;
        height: 32px;
        ul{
            width: 96px;
            height: 32px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                width: 32px;
                height: 32px;
                &:hover{
                    a{
                        color: #fff;
                    }
                }
                a{
                    transition: .3s;
                    color: rgba(255,255,255,.5);
                    display: inline-block;
                    padding: 3px 5px;
                    i{
                        width: 22px;
                        height: 22px;
                    }
                    .fa-desktop{
                        color: #fff !important;
                    }
                }
            }
        }
    }
    .current-template{
        width: 120.01px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        a{
            width: auto;
            height: auto;
            transition: .3s;
            color: rgba(255,255,255,.6);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &:hover{
                i{
                    color: #fff;
                }
            }
            i{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .impact-home{
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            color: #fff;
            margin: -2px 10px 0 10px;
            line-height: 0;
        }
    }
    .navigate{
        width: 205.163px;
        height: 32px;
        display: flex;
        margin-left: auto;
        align-items: center;
        a{
            transition: .3s;
            color: rgba(255,255,255,.6);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                i{
                    color: #fff;
                }
            }
            i{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .header-download{
            background: #00a6eb;
            color: #fff;
            font-size: 13px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 0 16px;
            height: 32px;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 15px;
            white-space: nowrap;
            &:hover{
                background: #01affa;
            }
            i{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span{
                padding-left: 6px;
            }
        }
    }
}
#topbar{
    top: 32px;
    width: 100%;
    height: 40px;
    background: #00796b;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    .topbar-container{
        width: 1320px;
        height: 14px;
        padding: 0 12px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .email-phone{
            width: auto;
            height: 14px;
            display: flex;
            align-items: center;
            .fa-envelop{
                width: 14px;
                height: 14px;
                color: #fff;
                line-height: 1;
            }
            a{
                display: inline-block;
                line-height: 0;
                font-size: 14px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                transition: 0.3s;
                padding-left: 5px;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
            .fa-mobile{
                width: 14px;
                height: 14px;
                color: #fff;
                line-height: 1;
                margin-left: 1.5rem;
            }
            span{
                display: inline-block;
                line-height: 0;
                font-size: 14px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                transition: 0.3s;
                padding-left: 5px;
                color: #fff;
                font-weight: 400;
            }
        }
        .social-media-icons{
            width: auto;
            height: 14px;
            display: flex;
            align-items: center;
            a{
                line-height: 0;
                transition: 0.3s;
                margin-left: 20px;
                color: rgba(255, 255, 255, 0.7);
                &:hover{
                    color: #fff;
                }
                i{
                    width: 14px;
                    height: 14px;
                    font-size: 14px;
                }
            }
        }
    }
}
#second-header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #008374;
    .second-header-container{
        width: 1320px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 12px;
        .impact-holder{
            display: flex;
            align-items: center;
            h1{
                font-size: 30px;
                margin: 0;
                font-weight: 700;
                letter-spacing: 0.8px;
                line-height: 1.2;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                span{
                    color: #f96f59;
                }
            }
        }
    }
    #second-header-navbar{
        height: 44px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            li{
                white-space: nowrap;
                padding: 10px 0 10px 28px;
                display: list-item;
                position: relative;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 3px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.6);
                    white-space: nowrap;
                    transition: 0.3s;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -6px;
                        left: 0;
                        background-color: #f85a40;
                        transition: all 0.3s ease-in-out 0s;
                    }
                    &:hover{
                        color: #fff;
                    }
                    &:hover::before{
                        width: 100%;
                    }
                    i{
                        width: 12px;
                        height: 12px;
                        margin-left: 5px;
                    }
                }
                .a-for-home{
                    color: #fff;
                    &::before{
                        width: 100%;
                    }
                }
            }
            .li-dropdown{
                ul{
                    width: 200px;
                    height: 232.5px;
                    display: block;
                    position: absolute;
                    left: 30px;
                    top: calc(100% + 0px);
                    margin: 0;
                    padding: 10px 0;
                    z-index: 99;
                    flex-wrap: wrap;
                    opacity: 0;
                    background: #fff;
                    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                    transition: 0.3s;
                    border-radius: 4px;
                    li{
                        padding: 0;
                        position: relative;
                        a{
                            padding: 10px 20px;
                            font-size: 15px;
                            text-transform: none;
                            font-weight: 600;
                            color: #006a5d;
                            display: flex;
                            align-items: center;
                            &:hover{
                                color: #f85a40;
                            }
                            &::before{
                                width: 0;
                            }
                        }
                    }
                    .li-dropdown{
                        position: relative;
                        ul{
                            position: absolute;
                            top: 0;
                            left: 100%;
                            opacity: 0;
                        }
                        &:hover{
                            ul{
                                opacity: 1;
                            }
                        }
                    }
                }
                &:hover{
                    ul{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
#hero{
    width: 100%;
    position: relative;
    background: #008374;
    background-attachment: fixed;
    padding: 60px 0 0 0;
    .row.gy-5{
        h2{
            font-size: 48px;
            font-weight: 700;
            font-family: 'Montserrat-bold', sans-serif;
            margin-bottom: 20px;
            color: #fff;
            line-height: 1.2;
        }
        p{
            color: rgba(255, 255, 255, 0.6);
            font-weight: 400;
            margin-bottom: 30px;
            font-size: 1rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .button-get-started{
            font-family: 'Montserrat-bold', sans-serif;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 14px 40px;
            border-radius: 50px;
            transition: 0.3s;
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
            border: 2px solid rgba(255, 255, 255, 0.1);
            &:hover{
                border: 2px solid rgba(255, 255, 255, 0.6);
            }
        }
        .button-watch-video{
            display: flex;
            align-items: center !important;
            font-size: 16px;
            transition: 0.5s;
            margin-left: 25px;
            color: #fff;
            font-weight: 600;
            i{
                width: 32px;
                height: 32px;
                color: rgba(255, 255, 255, 0.5);
                font-size: 32px;
                transition: 0.3s;
                margin-right: 8px;
            }
            span{
                font-weight: 600;
                font-size: 16px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            &:hover{
                i{
                    color: #fff;
                }
            }
        }
    }
    .icon-boxes{
        padding-bottom: 60px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(50% + 20px);
            background-color: #fff;
        }
        .icon-box{
            padding: 60px 30px;
            position: relative;
            overflow: hidden;
            background: #008d7d;
            box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease-in-out;
            border-radius: 8px;
            z-index: 1;
            height: 100%;
            width: 100%;
            text-align: center;
            cursor: pointer;
            &:hover{
                background: #029886;
                .icon{
                    color: #fff;
                }
            }
            .icon{
                margin-bottom: 20px;
                padding-top: 10px;
                display: inline-block;
                transition: all 0.3s ease-in-out;
                font-size: 48px;
                line-height: 1;
                color: rgba(255, 255, 255, 0.6);
                svg{
                    width: 48px;
                    height: 48px;
                }
            }
            .title{
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 24px;
                font-family: 'Montserrat-bold', sans-serif;
                line-height: 1.2;
                color: #fff;
                a{
                    color: #fff;
                    transition: 0.3s;
                    text-align: center;
                }
            }
        }
    }
}
#main{
    width: 100%;
    height: auto;
    .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
        overflow: hidden;
        .container{
            .section-header{
                text-align: center;
                padding-bottom: 60px;
                h2{
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    line-height: 1.2;
                    font-family: 'Montserrat',sans-serif;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 50px;
                        height: 3px;
                        background: #008374;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                p{
                    color: #6f6f6f;
                    line-height: 1.5;
                    font-size: 16px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                }
            }
            .row.gy-4{
                .col-lg-6{
                    h3{
                        font-weight: 700;
                        font-size: 28px;
                        font-family: 'Poppins', sans-serif;
                        margin-bottom: 20px;
                        line-height: 1.2;
                    }
                    p{
                        margin-bottom: 1rem;
                        line-height: 1.5;
                        font-size: 16px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 400;
                        color: #222;
                    }
                    ul{
                        margin-bottom: 1rem;
                        padding-left: 0;
                        li{
                            padding: 0 0 10px 30px;
                            position: relative;
                            i{
                                width: 20px;
                                height: 30px;
                                position: absolute;
                                font-size: 20px;
                                left: 0;
                                color: #008374;
                                &::before{
                                    line-height: 1;
                                    vertical-align: -0.125em;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .play-btn{
                        width: 94px;
                        height: 94px;
                        background: radial-gradient(#008374 50%, rgba(0, 131, 116, 0.4) 52%);
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: calc(50% - 47px);
                        top: calc(50% - 47px);
                        overflow: hidden;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 120px;
                            height: 120px;
                            animation: pulsate-btn 2s;
                            animation-iteration-count: infinite;
                            opacity: 1;
                            border-radius: 50%;
                            border: 5px solid rgba(0, 131, 116, 0.7);
                            top: -15%;
                            left: -15%;
                            background: rgba(198, 16, 0, 0);
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translateX(-40%) translateY(-50%);
                            width: 14.4px;
                            height: 19.2px;
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-left: 15px solid #fff;
                            z-index: 100;
                            transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
                        }
                    }
                }
            }
        }
    }
}